
<table class="table table-condensed">
	<thead>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < users.length; i++) { %>
			<% var user = users[i]; %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= user.firstName %></td>
				<td><%= user.lastName %></td>
				<td><%= user.score %></td>
			</tr>
		<% } %>
	</tbody>
</table>